<div class='all-timelines'>
<%= button_to 'Create your timeline', new_timeline_path, method: :get, class: 'timeline-create-button btn btn-primary btn-lg' %>
<div class='spacer'></div>
<h2>Timelines:</h2>
<% @timelines.each do |timeline| %>
 <h3> <a href="/timelines/<%= timeline.id %>"><%= timeline.title || timeline.id %></a></h3>
<% end %>
</div>