<div class='all-timelines'>
<%= button_to 'Create your timeline', new_timeline_path, method: :get, class: 'timeline-create-button btn btn-primary' %>

Timelines:
<% @timelines.each do |timeline| %>
  <a href="/timelines/<%= timeline.id %>"><%= timeline.title || timeline.id %></p>
<% end %>
</div>