#life {
  text-align: center;
}

.timeline-id {
  text-align: center;
}

.timeline-birthyear {
  text-align: center;
}

.spacer {
  height: 50px;
}

.timeline-year {
  fill: #6B7C7F;
}

.timeline-year:hover {
  fill: black;
}