.all-timelines {
  text-align: center;
}

.this-nav {
  background-color: black;
}

.half-spacer {
  height: 25px;
}

.spacer {
  height: 50px;
}

.timeline-form {
  text-align: center;
}

.form-title {
  float: left;
  margin-left: 420px;
  margin-right: -440px;
}

.timeline-data {
  margin-bottom: 20px;
}

.nav-link {
  font-family: Raleway;
  text-transform: uppercase;
}

.home-page {
  text-align: center;
}

.share-button {
  float: right;
  margin-right: 200px;
  margin-top: -57px;
}

/*.timeline-birthyear {
  padding-right: -100px;
}*/